@page "/"
@using Presentation.Application.Interfaces;
@using Presentation.Domain.Entities;
@using Presentation.Infostructure.Persistence;
@inject IRepository<Topic> Repository

<PageTitle>Hot Collections</PageTitle>
<div class="d-flex" >
@if ( _topics != null)
{
    @foreach (var topic in _topics)
    {
        <div class="card">
            <div class="card-header">
                @topic.Title
            </div>
        </div>
    }

}
else
{
    <div class="oi-battery-empty"> </div>
}
</div>
@code{
    IEnumerable<Topic> _topics;

    protected override async Task OnInitializedAsync()
    {
        _topics = await Repository.GetAllAsync();
        await base.OnInitializedAsync();
    }
}

